@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
  --very-dark-blue-main-background: hsl(233, 47%, 7%);
  --dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
  --soft-violet-accent: hsl(277, 64%, 61%);

  --white-main-heading-stats: hsl(0, 0%, 100%);
  --slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);

  --ff-primary: "Inter", sans-serif;
  --ff-secondary: "Lexend Deca", sans-serif;

  --fs-body: 0.9375rem;

  --fs-header-l-d: 2.25rem;
  --fs-header-l-m: 1.5rem;
  --fs-header-l: --f
  --fw-header: 700;
  --lh-header-l-d: 2.75rem;
  --lh-header: var(--lh-header-l-d);

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--very-dark-blue-main-background);
}

h1 {
  font-family: var(--ff-primary); 
  font-size: var(--fs-header-l);
  font-weight: var(--fw-header);
  color: white; 
}
span.highlighted-header {
  color: var(--soft-violet-accent);
}

.card {
  display: flex;
  background-color: var(--dark-desaturated-blue-card-background);
}

.card-description {
  /* flex: 1; */
}
.img-container {
  width: 100%;
  height: 100%;
  /* flex: 1; */
  background-image: url('./public/images/image-header-desktop.jpg') ;

}

.stat-description {
  font-family: var(--ff-secondary);
}