@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
  --very-dark-blue-main-background: hsl(233, 47%, 7%);
  --dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
  --soft-violet-accent: hsl(277, 64%, 61%);

  --white-main-heading-stats: hsl(0, 0%, 100%);
  --slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);

  --ff-primary: "Inter", sans-serif;
  --ff-secondary: "Lexend Deca", sans-serif;
  --fw-header: 700;
  --fs-header-l-d: 2.25rem;
  --fs-header-l-m: 1.75rem;
  --fs-header-l: var(--fs-header-l-d);

  --lh-header-l-d: 2.75rem;
  --lh-header-l-m: 2rem;
  --lh-header: var(--lh-header-l-d);

  --fs-header-m: 1.5rem;
  --lh-header-m: 1.8125rem;

  --fw-paragraph: 400;
  --fs-body: 0.9375rem;
  --lh-paragraph: 1.5625rem;

  --fs-paragraph-s: 0.75rem;
  --ls-paragraph-s: 0.0625rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--very-dark-blue-main-background);
}

h1,
h2 {
  font-family: var(--ff-primary);
  font-weight: var(--fw-header);
  color: var(--white-main-heading-stats);
}

h1 {
  font-size: var(--fs-header-l);
  line-height: var(--lh-header);
}

h2 {
  font-size: var(--fs-header-m);
  line-height: var(--lh-header-m);
}

p {
  font-weight: var(--fw-paragraph);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: var(--lh-paragraph);
  color: var(--slightly-transparent-white-main-paragraph);
}

.card {
  display: flex;
  background-color: var(--dark-desaturated-blue-card-background);
  border-radius: 0.5rem;
  width: 69.375rem;
}

.description-container {
  padding: 4.4375rem 5.9375rem 3.6875rem 4.5rem;
  min-width: 570px;
}

.card-description h1 {
  margin-block-end: 1.5625rem;
}

p.card-description {
  margin-block: 1.5625rem 4.5rem;
  margin-inline-end: 3rem;
}

span.highlighted-header {
  color: var(--soft-violet-accent);
}

.img-background {
  min-width: 33.75rem;
  background-color: var(--soft-violet-accent);
  border-radius: 0 0.5rem 0.5rem 0;
}

.img-container {
  width: 100%;
  height: 100%;
  background: url("./images/image-header-desktop.jpg") no-repeat;
  background-size: cover;
  opacity: 0.75;
  mix-blend-mode: multiply;
}

.stat-container {
  display: flex;
  justify-content: space-between;
  margin-inline-end: 4rem;
}

.stat-description {
  margin-top: 0.125rem;
  letter-spacing: var(--ls-paragraph-s);
  font-size: var(--fs-paragraph-s);
  font-family: var(--ff-secondary);
  text-transform: uppercase;
  color: var(--slightly-transparent-white-stat-headings);
}


@media (max-width: 50rem) {
  :root {
    --fs-header-l: var(--fs-header-l-m);
    --lh-header: var(--lh-header-l-m);
  }
  .card {
    text-align: center;
    flex-flow: column-reverse;
    margin: 5.5rem 1.5rem;
    width: auto;
  }
  .description-container {
    padding: 2.5rem 2rem 2rem;
    min-width: auto;
  }
  .img-background {
    min-width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .img-container {
    width: 100%;
    min-height: 15rem;
    background: url("./images/image-header-mobile.jpg") no-repeat;
    background-size: cover;
    opacity: 0.75;
    mix-blend-mode: multiply;
  }

  .card-description h1 {
    margin-block-end: 1rem;
  }

  p.card-description {
    margin-block: 1rem 2.5rem;
    margin-inline-end: 0;
  }

  .stat-container {
    flex-direction: column;
    align-items: center;
    margin-inline-end: 0;
  }

  .stat-block:not(:first-child) {
    margin-block-start: 1.5rem;
  }
}
